/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    margin: 0;
    background-color: #f0f0f0;
}

h1,
h2 {
    text-align: center;
    color: #333;
    margin: 20px 0;
}

p {
    text-align: justify;
    margin: 15px 0;
}

/* Estilos de las fórmulas */
.formula {
    background-color: #ffffff;
    padding: 15px;
    border-left: 4px solid #333;
    margin: 20px 0;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos de las imágenes */
.image-container {
    text-align: center;
    margin: 20px 0;
}

.image-container img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Contenedor de calculadora y resultado */
.calculadora-resultado {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.calculadora {
    flex: 1;
    min-width: 300px;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin: 10px;
}

.resultado-container {
    flex: 1;
    min-width: 300px;
    max-width: 400px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin: 10px;
    text-align: center;
}

.resultado-container h1 {
    font-size: 1.5em;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Estilos de los botones */
button {
    margin: 10px 5px 0 0;
    padding: 10px 20px;
    background-color: #5A708C;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3f5068;
}

#resultado-vf {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#resultado {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}

/* Responsividad */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.4em;
    }

    .calculadora-resultado {
        flex-direction: column;
        align-items: center;
    }

    .calculadora,
    .resultado-container {
        max-width: 100%;
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    button {
        width: 100%;
        margin-top: 10px;
    }
}